body{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ffffff;
}
header{
    height: 100px;
    background-color: #5fc0cd;
}
.center-left{
    overflow: hidden;
    min-height: 34px;
    font-size: 34px;
    line-height: 34px;
    margin: 15px 0;
    padding: 17px 0;
    height: 70px;
    background-color: #55a8b3;
    color: #fff;
    border: #55a8b3 1px solid;
    border-radius: 10px;
}
.center-right{
    overflow: hidden;
    min-height: 34px;
    font-size: 34px;
    line-height: 34px;
    padding: 17px 0;
    margin: 15px 0;
    height: 70px;
    background-color: #fff;
    color: #5fc0cd;
    border: #fff 1px solid;
    border-radius: 10px;
}
.header-right{
    float: right;
    margin: 25px 5% 25px 0;
    background: url("image/sprite.png") no-repeat;
    background-position: -100px -100px;
    width: 50px;
    height: 50px;
}
footer{
    height: 100px;
    background-color: #e1e1e1;
    font-size: 20px;
}
.footer-center{
    width: 100px;
    height: 100px;
    background: url("image/sprite.png") no-repeat;
}
.footer-left{
    margin-top: 15px;
    width: 50px;
    height: 50px;
    background: url("image/sprite.png") no-repeat;
    background-position: -100px 0;
}
.footer-right{
    margin-top: 15px;
    width: 50px;
    height: 50px;
    background: url("image/sprite.png") no-repeat;
    background-position: -100px -50px;
}
.top{
    height: 85px;
    font-size: 28px;
    color: #999;
    padding-top: 25px;

}

.wrap{
    min-height: 180px;
    overflow: hidden;
    padding-left: 5%;
    margin-top: 30px;

}
.box{
    min-height: 30px;
    display: flex;
    align-items:center;
    margin-bottom: 20px;
}
.date{
    height: 30px;
    width: 30px;
    background: url("image/sprite.png") no-repeat;
    background-position: -30px -100px;
}
.site{
    height: 30px;
    width: 30px;
    background: url("image/sprite.png") no-repeat;
    background-position: -0 -100px;
}
.box1{
    display: flex;
    align-items:center;
    min-height: 26px;
    font-size: 26px;
    margin-bottom: 2px;
    margin-top: 2px;
    color: #999;
}
.box2{
    display: flex;
    align-items:center;
    min-height: 28px;
    font-size: 28px;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-left: 30px;
}
.box3{
    display: flex;
    align-items:center;
    margin-bottom: 85px;
    margin-top: 75px;
    min-height: 30px;
    font-size: 30px;
    color: #e63b0e;
}
.font{
    display: flex;
    align-items:center;
    margin-left: 10%;
    height: 33px;
    width: 20px;
    background: url("image/sprite.png") no-repeat;
    background-position: -60px -100px;
}